/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Your code starts here! */
/* Your code starts here! */
/* Your code starts here! */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  font-size: 1rem;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-nav {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed-nav .nav-bar {
  width: 75%;
}

.fixed-nav nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.fixed-nav nav li {
  display: flex;
  justify-content: space-between;
  padding-right: 9%;
}

.fixed-nav nav li a {
  color: grey;
  text-decoration: none;
  font-size: 1.4rem;
}

header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 75px;
  border-bottom: 3px solid #444;
}

header .header-content {
  text-align: center;
  padding: 60px 78px 0 0;
}

header .header-content h1 {
  font-size: 6.5rem;
}

header .header-content .button {
  background: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 170px;
  padding: 5px 5px;
}

header .header-img {}

.two-col {
  padding: 40px 0 30px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  display: flex;
}

.wide-img {
  width: 100%;
}

.three-col {
  padding: 30px 0;
  font-size: 1.4rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid black;
}

.three-col div {
  width: 33.3%;
  padding-right: 5px;
}

.three-col h2 {
  margin-bottom: 15px;
}

.contact {
  font-size: 1.6rem;
  padding: 35px 0 30px;
}

.contact address {
  font-size: 1.4rem;
  letter-spacing: .03rem;
  padding-bottom: 17px;
}

.contact p {
  font-size: 15px;
  letter-spacing: .4px;
  padding-bottom: 15px;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.services .service-provided {
  border: 1px solid black;
  background: #eee;
  width: 48%;
  padding: 20px;
  height: 250px;
  margin-top: 30px;
}

.services .button {
  border-radius: 5px;
  background: #fff;
  font-size: 12px;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.services-page {
  line-height: 1.3em;
}

.services-page header {
  font-size: 18px;
  margin-bottom: 30px;
}

.services-page h1 {
  font-size: 30px;
}

.facts {
  margin: 30px 0;
  display: flex;
}

.facts {
  margin-right: 20px;
}

.facts .facts-content p {
  margin-bottom: 20px;
}

.facts .facts-content ul {
  margin-left: 20px;
  line-height: 1.8em;
}

footer {}

nav a:hover {
  background: #eee;
}

@media (max-width:800px) {
  .container {
    max-width: 800px;
  }

  .fixed-nav * {
    margin: 0;
    padding: 0;
  }

  .fixed-nav {
    width: 100%;
    margin: 20px 0 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fixed-nav .nav-bar {
    width: 100%;
    order: 1;
  }

  .fixed-nav .nav-bar ul {
    padding-left: 3%;
    display: flex;
    justify-content: space-around;
  }

  .fixed-nav .nav-bar li {
    width: calc(100% / 6 - 1);    
  }

  .fixed-nav .nav-bar li a {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    padding-top: 30px;
  }

  .fixed-nav img {
    order: 0;
    margin: 10px 0 10px;
  }

  header {
    border: none;
  }

  header .header-img {
    display: none;
  }

  header .header-content {
    width: 100%;
    padding: 0;
    margin: 33px 0 0;
  }


  .two-col {
    border-top: 2px solid black;
    font-size: 1.3rem;
    letter-spacing: .04rem;
    margin: 0 3%;
    justify-content: space-evenly;
  }

  .two-col div {
    width: 47%;
  }

  .wide-img {
    width: 95%;
    margin: 0 auto;
  }

  .three-col {
    width: 98%;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    margin: 0 3%;
    justify-content: flex-start;
    border: none;
  }

  .three-col div {
    width: 30%;
    margin-right: 3%;
  }

  .contact {
    border-top: 2px solid black;
    width: 95%;
    margin: 0;
    padding: 40px 0 30px 1%;
    margin-left: 3%;
    font-size: 1.4rem;
  }

  footer {
    letter-spacing: .05rem;
  }
}

@media (max-width:500px) {
  .fixed-nav {
    height: 370px;
  }

  .fixed-nav .nav-bar ul {
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  .fixed-nav .nav-bar ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 61px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
  }

  .fixed-nav .nav-bar ul li a {
    margin: 0;
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
  }

  .fixed-nav img {
    padding: 0 0 15px;
    margin: 0;
  }

  .header-content {
    padding: 0;
    padding: 50px 0;
    border: 2px solid red;
  }
}